.login-button {
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #576CBF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.login-button:hover {
    background-color: #3b51aa;
}