body {
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.75);
}

/* .Background-gatel {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../asset/Group6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  } */

@keyframes animatedBackground {
    from {
        background-position: 0px 0;
    }

    to {
        background-position: -1440px 0;
    }
}

.Background {
    position: fixed;
    height: 100vh;
    width: 1440px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('../../asset/bg.png');
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: animatedBackground 20s linear infinite;
    z-index: -1;
}

.Background2 {
    position: fixed;
    height: 100vh;
    width: 14845px;
    background: url('../../asset/Group8.png');
    z-index: -1;
}

.login-button {
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #576CBF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.login-button:hover {
    background-color: #3b51aa;
}

.content {
    margin-top: 126px;
}

/* .get-div{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
} */

.get-input {
    padding-left: 23px;
    width: 459px;
    line-height: 34px;
    border: 2px solid #576CBF;
    border-radius: 5px 0 0 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: #576CBF;
}

.get-button {
    width: 100px;
    color: white;
    background-color: #576CBF;
    border-radius: 0 5px 5px 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.get-button:hover {
    color: white;
    background-color: #3b51aa;
}

h3 {
    font-size: 24px;
    margin: 18px 0;
}

.upload-button:hover {
    color: white;
    background-color: #3b51aa;
}


.result h2 {
    margin-top: 75px;
}

.image {
    left: 50%;
    transform: translateX(-50%);
}

.image img {
    width: 500px;
    height: auto;
    padding-bottom: 30px;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.image-label {
    cursor: pointer;
    width: 150px;
    min-height: 40px;
    background-color: #576CBF;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#image {
    opacity: 0;
    position: absolute;
    z-index: -1;
}