h1 {
    font-weight: bold;
    margin: 0;
}

.overlay-description {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -0.4px;
    margin: 40px;
}

.find-password {
    color: gray;
    font-size: 12px;
    text-decoration: none;
    margin: 15px 0;
    letter-spacing: -0.5px;
}

.find-password:hover {
    color: #ff4b2b;
}

.form-button {
    border-radius: 20px;
    border: 1px solid #576CBF;
    background-color: #576CBF;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 30px;
}

.form-button:active {
    transform: scale(0.95);
}

.form-button:focus {
    outline: none;
}

.form-button.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

.form {
    background: url('../../asset/Group7.png');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.form-title {
    margin-bottom: 30px;
}

.input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 85%;
    text-align: center;
    font-size: 13px;
    border-radius: 15px;
}

.container {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: url("../../asset/background.png");
    /* opacity: 0.5; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-opacity {
    background-color: rgba(0, 0, 0, 0.507);
    position: block;
    color: #ffffff;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    /* background: rgba(0, 0, 0, 0.5); */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
    padding: 0;
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    padding: 0;
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

